/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* LPQM Arab */
@font-face {
  font-family: 'lpmq';
  src: url('./assets/font/LPMQ.a900b7d4edc774405383.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


#root {
  max-width: 600px;
  margin: 0 auto;
  --bg-text: #004643;
  --text-color: #E8FFE0;
}

/* Element Content */
.element-content-art-fp {
  max-width: 360px;
  margin: auto;
}

.element-content-art-fp .element-card-fyp-x {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


.element-content-art-fp .element-card-fyp-x .card-item-xgy {
  background-image: url('./assets/image/Rectangle 109 (2).jpg');
  background-size: cover;
  height: 11rem;
  width: 10rem;
}

.element-content-art-fp .card-title-hyx {
  background: var(--bg-text);
  font-style: var(--text-color);
}

.element-content-art-fp .element-card-fyp-x p {
  font-family: poppins;
  font-size: 0.8rem;
}

/* Element Navbar */
.element-nav-btm-xy .element-navbar-xy {
  max-width: 600px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 128, 129);
  background: linear-gradient(180deg, rgba(0, 128, 129, 1) 20%, rgba(0, 27, 27, 1) 100%);
}

.element-nav-btm-xy .element-navbar-xy .text-xs {
  font-family: poppins;
  font-weight: 300;
}

/* Element Al Quran */
.component-al-quran {
  max-width: 600px;
  margin: 10px auto;
  color: var(--text-color);
}

.component-al-quran .element-search-component input {
  width: 100%;
  background: var(--bg-text);
  padding: 15px 20px;
  border-radius: 60px;
  color: var(--text-color);
  font-family: poppins;
  font-size: 1rem;
}

.component-al-quran .element-search-component input:focus {
  border: none;
}

.element_alquran_pages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.element_alquran_pages .card_element_alquran {
  background: rgb(0, 128, 129);
  background: linear-gradient(180deg, rgba(0, 128, 129, 1) 0%, rgba(0, 27, 27, 1) 100%);
}

.element_alquran_pages .card_element_alquran .title_text {
  font-family: 'lpmq', sans-serif;
  font-size: 1.5rem;
}

.element_alquran_pages .card_element_alquran .title_ayat {
  font-family: poppins;
  font-size: 0.7rem;
  font-weight: 300;
}

.element_alquran_pages .card_element_alquran .bg_text {
  padding: 1px 10px;
  background-color: var(--bg-text);
  font-family: 'lpmq', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
}

/* Element Details */
.element-details-qy p {
  font-family: 'lpmq', sans-serif;
  line-height: 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.element-details-qy .art-alqyt {
  font-family: 'lpmq', sans-serif;
  font-size: 1rem;
}

/* Dekstop */

/* Table */

/* Mobile Responsive */
@media only screen and (max-width: 600px) {

  /* Element Details */
  .element-details-qy {
    max-width: 340px;
    margin: 10px 20px;
    padding: 10px 20px;
  }

  .element-details-qy p {
    font-family: 'lpmq', sans-serif;
    line-height: 2.7rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .element-details-qy .art-alqyt {
    font-family: 'lpmq', sans-serif;
    font-size: 1rem;
  }

  /* Element Al Quran */
  .component-al-quran {
    max-width: 340px;
    margin: 10px auto;
    color: var(--text-color);
  }

  .component-al-quran .element-search-component input {
    width: 100%;
    background: var(--bg-text);
    padding: 10px 15px;
    border-radius: 60px;
    color: var(--text-color);
    font-family: poppins;
    font-size: 1rem;
  }

  .component-al-quran .element-search-component input:focus {
    border: none;
  }

  .element_alquran_pages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 10px 10px;
  }

  .element_alquran_pages .card_element_alquran {
    background: rgb(0, 128, 129);
    background: linear-gradient(180deg, rgba(0, 128, 129, 1) 0%, rgba(0, 27, 27, 1) 100%);
  }

  .element_alquran_pages .card_element_alquran .title_text {
    font-family: 'lpmq', sans-serif;
    font-size: 1.5rem;
  }

  .element_alquran_pages .card_element_alquran .title_ayat {
    font-family: poppins;
    font-size: 0.7rem;
    font-weight: 300;
  }

  .element_alquran_pages .card_element_alquran .bg_text {
    padding: 1px 10px;
    background-color: var(--bg-text);
    font-family: 'lpmq', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
  }

  /* Element Content */
  .element-content-art-fp {
    max-width: 350px;
    margin: 20px auto;
    width: auto;
  }

  .element-content-art-fp .element-card-fyp-x {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 66px;
  }


  .element-content-art-fp .element-card-fyp-x .card-item-xgy {
    background-image: url('./assets/image/Rectangle 109 (2).jpg');
    background-size: cover;
    height: 11rem;
    width: 10rem;
  }

  .element-content-art-fp .card-title-hyx {
    background: var(--bg-text);
    font-style: var(--text-color);
  }

  .element-content-art-fp .element-card-fyp-x p {
    font-family: poppins;
    font-size: 0.8rem;
  }

  /* Element Navbar */
  .element-nav-btm-xy .element-navbar-xy {
    max-width: 450px;
    width: auto;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 128, 129);
    background: linear-gradient(180deg, rgba(0, 128, 129, 1) 20%, rgba(0, 27, 27, 1) 100%);
  }

  .element-nav-btm-xy .element-navbar-xy .text-xs {
    font-family: poppins;
    font-weight: 300;
  }

}